.section-photo {
  padding-top: 22px;
}

.section-list {
  padding-top: 31px;
}

.list-title {
  color: #5c646e;
  font-family: "Arial MT";
  font-size: 14px;
}

.section-table {
  padding-top: 39px;
}
